.container {
    max-width: 500px;
    height: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: skyblue;
    border-radius: 10px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.3);
  }
  body{
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/image.jpeg);
  }
  h2 {
    text-align: center;
    font-size: 32px;
    margin-bottom: 20px;
  }
  
  .input-container {
    display: flex;
    flex-direction: column;
    margin-bottom: 100px;
    font-size: 80px;
  }
  
  label {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  input[type="text"],
  input[type="password"] {
    padding: 10px;
    font-size: 18px;
    border-radius: 5px;
    border: 1px solid #ccc;
  }
  
  .button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 30px;
  }
  
  button {
    padding: 10px 20px;
    font-size: 20px;
    font-weight: bold;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    transition: all 0.2s ease;
  }
  
  .signup-button {
    background-color: #28a745;
    color: #fff;
  }
  
  .signup-button:hover {
    background-color: #218838;
  }
  
  .login-button {
    background-color: #007bff;
    color: #fff;
  }
  
  .login-button:hover {
    background-color: #0062cc;
  }
  