*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
  
body {
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
      color: #444;
      display: flex;
      flex-direction: column;
      gap: 2rem;
      background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(img/image.jpeg);
      background-position: center;
      background-size: cover;
      position: relative;
      height: 100vh;
}

.container{
    background: grey;
    width: 50vw;
    height: 50rem;
    margin: 5rem auto;
    padding: 3rem;
    border-radius: 1rem;
    opacity: 0.8;
}

h2{
    font-size: 5rem;
    text-align: center;
    color: whitesmoke;
}

.button-container{
    display: flex;    
    flex-direction: column;
    padding: 5rem;
    align-items: center;
    justify-content: center;
    font-size: 2rem;
    gap: 2rem;
}

.upload-button,
.show-button,
.eligible-button,
.logout-button{
    background: white;
    padding: 1rem;
    color: grey;
    border-radius: 0.5rem;
    cursor: pointer;
}

.upload-button:hover,
.show-button:hover,
.eligible-button,
.logout-button:hover{
    background: black;
    color: white;
    transition: 0.3s ease-in;
    transform: scale(0.97);
}